<!-- IF S_DISPLAY_SEARCH and B_SN_BLOCK_SEARCH_ENABLED -->
<div class="sn-mp-search"><form action="{U_SN_MP_SEARCH}" method="post"><input type="text" value="{L_SN_MP_SEARCH}" name="username" id="sn-mp-searchUsersAutocomplete" maxlength="256" title="{L_SN_MP_SEARCH}"
class="inputbox sn-mp-searchInput" onclick="if(this.value=='{L_SN_MP_SEARCH}')this.value='';"
onblur="if(this.value=='')this.value='{L_SN_MP_SEARCH}';" /><input type="image" src="{T_IMAGESET_PATH}/socialnet/mp_search.png" id="search-submit" class="sn-mp-searchImage"
/>{S_SEARCH_HIDDEN_FIELDS}</form></div>
<!-- ENDIF -->
