<!-- IF S_USER_LOGGED_IN and B_SN_BLOCK_ONLINE_USERS_ENABLED -->
	<!-- DEFINE $BLOCK_HEADER = '{L_SN_MP_ONLINE_FRIENDS}' -->
	<!-- INCLUDE socialnet/block_page_header.html -->
	<div class="sn-mp-onlineUsers"><!-- BEGIN block_user_online -->
		<div class="sn-im-userLine<!-- IF block_user_online.B_IS_ONLINE --> sn-im-canchat<!-- ENDIF -->" style="background-image:url('{block_user_online.ONLINE}')">
		{block_user_online.AVATAR}
		{block_user_online.USERNAME}
		</div>
		<!-- END block_user_online --></div>
<!-- ENDIF -->