<h1>IS USED THIS FILE</h1>
<span class="corners-top"><span></span></span>
<h3>{L_SN_APPROVAL_REQUESTS}</h3>
<p>{L_SN_APPROVAL_REQUESTS_EXPLAIN}<sup>1)</sup></p>
<fieldset>
	<dl>
		<dd class="sn-fms-block">
			<div class="sn-fms-friendsBlock cancel">
				<!-- BEGIN fas_cancel -->
				<span class="sn-fms-friend" title="{fas_cancel.USERNAME_NO_COLOR}">
					<input type="checkbox" name="cancel_request[]" value="{fas_cancel.USER_ID}" />
					{fas_cancel.AVATAR}
					<span>{fas_cancel.USERNAME}</span>
					<br />
					<span>
						<a href="{fas_cancel.U_PROFILE}">{L_SN_VIEW_PROFILE}</a>
					</span>
				</span>
				<!-- END fas_cancel -->
			</div>
		</dd>
	</dl>
	<span class="submit-buttons" >
		<span>
			<a href="{U_ACTION}" onclick="return false;" class="mark cancel">{L_MARK_ALL}</a> &bull;
			<a href="{U_ACTION}" onclick="return false;" class="unmark cancel">{L_UNMARK_ALL}</a>
		</span>
	</span>
</fieldset>
<div class="pagination">{SN_FAS_REQUEST_TOTAL}, {SN_FAS_REQUEST_PAGE_NUMBER}, <span> {SN_FAS_REQUEST_PAGINATION}</span></div>
<div class="clear"></div>
<fieldset class="submit-buttons">
	<input type="submit" name="cancel_request_submit" value="{L_SN_CANCEL_REQUEST}" class="button2 disabled" disabled="disabled" />
	{S_HIDDEN_FIELDS}
	{S_FORM_TOKEN}
</fieldset>
<span class="corners-bottom"><span></span></span>
