<span class="corners-top"><span></span></span>
<h3>{L_SN_APPROVAL_FRIENDS}</h3>
<p>{L_SN_APPROVALS_FRIENDS_EXPLAIN}<sup>1)</sup></p>
<fieldset>
	<dl>
		<dd class="sn-fms-block">
			<div class="sn-fms-friendsBlock approvals">
				<!-- BEGIN fas_approve -->
				<span class="sn-fms-friend" title="{fas_approve.USERNAME_NO_COLOR}">
					<input type="checkbox" name="approvals[]" value="{fas_approve.USER_ID}" />
					{fas_approve.AVATAR}
					<span>{fas_approve.USERNAME}</span><br />
					<span><a href="{fas_approve.U_PROFILE}">{L_SN_VIEW_PROFILE}</a></span>
				</span>
				<!-- END fas_approve -->
			</div>
		</dd>
	</dl>
	<span class="submit-buttons" >
		<span>
			<a href="{U_ACTION}" onclick="return false;" class="mark approvals">{L_MARK_ALL}</a> &bull;
			<a href="{U_ACTION}" onclick="return false;" class="unmark approvals">{L_UNMARK_ALL}</a>
		</span>
	</span>
</fieldset>
<div class="pagination">{SN_FAS_APPROVE_TOTAL}, {SN_FAS_APPROVE_PAGE_NUMBER}, <span> {SN_FAS_APPROVE_PAGINATION}</span></div>
<div class="clear"></div>
<fieldset class="submit-buttons">
	<input type="submit" name="approve" value="{L_SN_APPROVE}" class="button2 disabled" disabled="disabled" />
	<input type="submit" name="no_approve" value="{L_SN_NO_APPROVE}" class="button2 disabled" disabled="disabled" />
	{S_HIDDEN_FIELDS}
	{S_FORM_TOKEN}
</fieldset>
<span class="corners-bottom"><span></span></span>
