<!-- INCLUDE overall_header.html -->
<div id="sn-up" class="sn-page">

	<div id="sn-page-column-left" class="sn-page-columnLeft">
	
    {USER_AVATAR}
    
    <!-- IF S_USER_INACTIVE --><div class="sn-mp-inactiveUser">{L_USER_IS_INACTIVE}: {USER_INACTIVE_REASON}</div><!-- ENDIF -->
    
    <ul class="sn-menu">     
  		<!-- IF S_USER_LOGGED_IN and S_ZEBRA -->
      	<!-- IF U_REMOVE_FRIEND -->
          <li class="sn-menu-icon-main"><a href="{U_REMOVE_FRIEND}"><span class="ui-icon ui-icon-close"></span>{L_REMOVE_FRIEND}</a></li>
      	<!-- ELSEIF U_ADD_FRIEND -->
          <li class="sn-menu-icon-main"><a href="{U_ADD_FRIEND}"><span class="ui-icon ui-icon-plus"></span>{L_SN_UP_ADD_FRIEND}</a></li>
      	<!-- ENDIF -->
      <!-- ENDIF -->
      <!-- IF S_USER_LOGGED_IN -->
      	<!-- IF U_USER_SUBSCRIBE -->
          <li class="sn-menu-icon-main"><a href="{U_USER_SUBSCRIBE}"><span class="ui-icon ui-icon-check"></span>{L_SN_UP_SUBSCRIBE}</a></li>
      	<!-- ELSEIF U_USER_UNSUBSCRIBE -->
          <li class="sn-menu-icon-main"><a href="{U_USER_UNSUBSCRIBE}"><span class="ui-icon ui-icon-cancel"></span>{L_SN_UP_UNSUBSCRIBE}</a></li>
      	<!-- ENDIF -->
      <!-- ENDIF -->
      <!-- IF U_PM && not S_OWN_PROFILE -->
        <li class="sn-menu-icon-main"><a href="{U_PM}"><span class="ui-icon ui-icon-mail-closed"></span>{L_SEND_MESSAGE}</a></li>
      <!-- ENDIF -->
      <!-- IF not S_OWN_PROFILE && S_USER_LOGGED_IN && U_USER_REPORT -->
        <li class="sn-menu-icon-main sn-up-reportUser"><a href="{U_USER_REPORT}#sn-up-profileTabs-reportUser"><span class="ui-icon ui-icon-alert"></span>{L_SN_UP_REPORT_PROFILE}</a></li>
      <!-- ENDIF -->
      <!-- IF U_SWITCH_PERMISSIONS -->
        <li class="sn-menu-icon-main"><a href="{U_SWITCH_PERMISSIONS}"><span class="ui-icon ui-icon-shuffle"></span>{L_USE_PERMISSIONS}</a></li>
      <!-- ENDIF -->
      <!-- IF U_USER_BAN -->
        <li class="sn-menu-icon-main"><a href="{U_USER_BAN}"><span class="ui-icon ui-icon-locked"></span>{L_USER_BAN}</a></li>
      <!-- ENDIF -->
      <!-- IF S_OWN_PROFILE && S_USER_LOGGED_IN -->
        <li class="sn-menu-icon-main"><a href="{U_EDIT_PROFILE}"><span class="ui-icon ui-icon-pencil"></span>{L_SN_UP_EDIT_PROFILE}</a></li>
        <li class="sn-menu-icon-main"><a href="{U_EDIT_FRIENDS}"><span class="ui-icon ui-icon-person"></span>{L_SN_UP_EDIT_FRIENDS}</a></li>
        <li class="sn-menu-icon-main"><a href="{U_EDIT_RELATIONS}"><span class="ui-icon ui-icon-heart"></span>{L_SN_UP_EDIT_RELATIONS}</a></li>
      <!-- ENDIF -->
      <!-- IF U_USER_ADMIN -->
        <li class="sn-menu-icon-main"><a href="{U_USER_ADMIN}"><span class="ui-icon ui-icon-gear"></span>{L_USER_ADMIN}</a></li>
      <!-- ENDIF -->
  	</ul>

	<!-- DEFINE $BLOCK_HEADER_TYPE = 'forabg' -->
  	<!-- IF .relationship -->
  		<!-- DEFINE $BLOCK_HEADER = '{L_SN_UP_RELATIONSHIP}' -->
  		<!-- INCLUDE socialnet/block_page_header.html -->
    	<div class="sn-fms-users sn-fms-users-friend sn-fms-users-fullWidth">
    	<!-- BEGIN relationship -->
      	<span class="sn-fms-friend sn-fms-user-friend ui-widget-content ui-corner-all">
          <!-- IF relationship.U_RELATIVE -->
            <span class="user_avatar ui-widget ui- widget-header ui- corner-all">
            	<a href="{relationship.U_PROFILE_LINK}"<!-- IF relationship.U_PROFILE_LINK == 'javascript:return false;' --> style="cursor:default;"<!-- ENDIF -->>{relationship.AVATAR}</a>
            </span>
          <!-- ENDIF -->
            <span class="sn-fms-username">
	          {relationship.STATUS}
			  <!-- IF relationship.U_RELATIVE -->{relationship.U_RELATIVE}<!-- ENDIF -->
			</span>
          
          <!-- IF relationship.ANNIVERSARY --><div style="margin-top: 4px;">{L_SN_UP_ANNIVERSARY}: {relationship.ANNIVERSARY}</div><!-- ENDIF -->
        </span>   
      <!-- END relationship -->
      </div>
      <div class="clear" style="margin-bottom: 10px;"></div>
  	<!-- ENDIF -->	
  	
  	<!-- IF .family -->
  		<!-- DEFINE $BLOCK_HEADER = '{L_SN_UP_FAMILY}' -->
  		<!-- INCLUDE socialnet/block_page_header.html -->
    	<div class="sn-fms-users sn-fms-users-friend sn-fms-users-fullWidth">
		<!-- BEGIN family -->
			<span class="sn-fms-friend sn-fms-user-friend ui-widget-content ui-corner-all">
            	<span class="user_avatar ui-widget ui- widget-header ui- corner-all">
					<a href="{family.U_PROFILE_LINK}"<!-- IF family.U_PROFILE_LINK == 'javascript:return false;' --> style="cursor:normal;"<!-- ENDIF -->>{family.AVATAR}</a>
				</span>
				<span class="sn-fms-username">{family.U_RELATIVE}</span>
				<div style="margin-top: 4px;">{family.STATUS}</div>
			</span> 
		<!-- END family -->
		</div>
      <div class="clear" style="margin-bottom: 10px;"></div>
  	<!-- ENDIF -->                                
  	
  	<!-- IF SN_FMS_BLOCK_FRIEND_IS_NOT_EMPTY -->
  		<!-- DEFINE $BLOCK_HEADER = '{L_SN_UP_FRIENDS}' -->
  		<!-- DEFINE $BLOCK_HEADER_ADDITIONAL = '{TOTAL_FRIENDS}' -->
  		<!-- INCLUDE socialnet/block_page_header.html -->
  		<!-- UNDEFINE $BLOCK_HEADER_ADDITIONAL -->
  		<div class="sn-fms-users-fullWidth">
    	{SN_FMS_BLOCK_FRIEND_CONTENT}
    </div>
  	  <div class="clear"></div>
  	<!-- ENDIF -->
  	
	</div>
	<div id="sn-page-content" class="sn-page-content sn-page-content-noRightBorder"> 
	
    <h2 class="sn-up-userName">{USERNAME} <!-- IF S_ONLINE -->&nbsp;<img src="{T_IMAGESET_PATH}/socialnet/im_user_{ONLINE_IMG}.png" alt="" /><!-- ENDIF --></h2>
     <div class="sn-up-buttons">
    	<ul class="sn-up-menu">
		<!-- IF SN_MODULE_APPROVAL_ENABLED and not S_OWN_PROFILE and not U_ADD_FRIEND and not U_CANCEL_REQUEST and .sn_fms_group -->
      		<li class="sn-fms-grpmenu">
      			<a href="#" class="ui-state-default"><span class="ui-icon ui-icon-folder-open"></span>{L_SN_UP_ADD_FRIEND_TO_GROUP}</a>
      			<ul class="sn-fms-groups">
      				<!-- BEGIN sn_fms_group -->
      				<li>
      					<a href="#" class="{gid:{sn_fms_group.GID},uid:{USER_ID}}">
      						<span class="ui-icon <!-- IF sn_fms_group.B_USER_IN_GROUP -->ui-icon-check<!-- ELSE -->ui-icon-close<!-- ENDIF -->"></span>
      						{sn_fms_group.S_GROUP_NAME}
			      				</a>
			      			</li>
      				<!-- END sn_fms_group -->
      			</ul>
      		</li>
		<!-- ENDIF -->
		<!-- IF U_PM && not S_OWN_PROFILE --><li><a href="{U_PM}" title="{L_MESSAGE}" class="ui-state-default"><span class="ui-icon ui-icon-mail-open"></span>{L_MESSAGE}</a></li><!-- ENDIF -->
		<!-- IF not S_OWN_PROFILE -->
			<!-- IF U_CANCEL_REQUEST --><li><a href="{U_CANCEL_REQUEST}" title="{L_SN_CANCEL_REQUEST}" class="ui-state-default"><span class="ui-icon ui-icon-close"></span>{L_SN_CANCEL_REQUEST}</a></li><!-- ENDIF -->
			<!-- IF U_ADD_FRIEND --><li><a href="{U_ADD_FRIEND}" title="{L_SN_UP_ADD_FRIEND}" class="ui-state-default"><span class="ui-icon ui-icon-plus"></span>{L_SN_UP_ADD_FRIEND}</a></li><!-- ENDIF -->
		<!-- ENDIF -->
		</ul>
    </div>
    <div class="clear"></div>
    
		<div id="sn-up-profileTabs" class="sn-up-profileTabs">
			<ul>
				<!-- IF SN_MODULE_USERSTATUS_ENABLED --><li><a href="#sn-up-profileTabs-wall"><span>{L_SN_UP_WALL}</span></a></li><!-- ENDIF -->
				<li><a href="{U_UP_TAB_INFO}#sn_profile_tabs-info"><span>{L_SN_UP_INFO}</span></a></li>
				<!-- IF SN_MODULE_APPROVAL_ENABLED --><li><a href="{U_UP_TAB_FRIENDS}#sn-up-profileTabs-friends"><span>{L_SN_UP_FRIENDS}</span></a></li><!-- ENDIF -->
				<li><a href="{U_UP_TAB_STATS}#sn-up-profileTabs-stats"><span>{L_SN_UP_STATS}</span></a></li>
			</ul>
	
			<!-- IF SN_MODULE_USERSTATUS_ENABLED-->
  			<div id="sn-up-profileTabs-wall" class="sn-us-profile ">
  				<!-- INCLUDE socialnet/userstatus_memberlist.html -->
  			</div>
  			<!-- ENDIF -->
		</div>

	</div>
</div>
<div class="clear"></div>
<!-- INCLUDE overall_footer.html -->