<div id="sn-us" class="sn-us-memberlistViewProfile">
<!-- IF SCRIPT_NAME == 'memberlist' --><h3>{L_SN_US_USER_STATUS_WALL}</h3><!-- ENDIF -->
	<a name="sn-us" id="top2"></a>
	<!-- IF SN_MODULE_USERSTATUS_CAN_POST_STATUS -->       
		<div class="sn-us-membShareStatus">
			<div class="sn-us-share">
				<textarea id="sn-us-wallInput" rows="" cols="" style="height:20px"></textarea>
				<!-- INCLUDE socialnet/userstatus_fetch.html -->
				<input type="button" name="sn-us-wallButton" class="ui-button ui-widget ui-state-default ui-corner-all {wall:{SN_US_USER_ID}}" value="{L_SN_US_SHARE_STATUS}" />
			</div>   
			<div class="clear"></div>
		</div>      
	<!-- ENDIF -->

	<div id="sn-us-profile" class="sn-us-profile">
	  <!-- INCLUDE socialnet/userstatus_status.html -->
	  <!-- IF SN_US_DISPLAY_LOAD_MORE_STATUS -->
			<div class="sn-more">
				<a href="javascript:void(0);" class="sn-us-getMore {user:{SN_US_USER_ID}}">{L_SN_US_LOAD_MORE}</a>
				<img src="{T_IMAGESET_PATH}/socialnet/sn_loader_small.gif" alt="" class="sn-us-statusLoader" style="display:none" />
			</div>
		<!-- ENDIF -->
	</div>
	
	<!-- IF not .us_status -->
		<div class="sn-us-noStatus">
			<span class="sn-userName">{USERNAME}</span> {L_SN_US_HAS_NO_STATUS}
		</div>
	<!-- ENDIF -->
</div>
