/*******************************************************\
 |* SOCIALNET - INSTANT MESSENGER                       *|
 \*******************************************************/
#phpbb.im-page {
	margin-bottom: 20px;
}

#socialnet_im.snImDockWrapper {
	position: fixed;
	bottom: 0;
	height: 24px;
	left: auto;
	right: 20px;
	z-index: 999;
	border-right: 1px solid #999;
}

.rtl #socialnet_im.snImDockWrapper {
	right: auto;
	left: 20px;
	border-right: none;
	border-left: 1px solid #999;
}


#socialnet_im .snImGroup {
	position: relative;
	float: right;
}

.rtl #socialnet_im .snImGroup {
	float: left;
}

#socialnet_im .snImButton {
	/*position: relative;*/ /* Schovat vrchni linku pri otevreni bloku */
	line-height: 24px;
	font-weight: bold;
	padding: 0 5px;
	cursor: pointer;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	width: 180px;
	background: #eee url("{T_IMAGESET_PATH}/socialnet/im_toolbarbg.gif") repeat-x 0 0;
	text-overflow: ellipsis;
	/* Vsechny prohlizece krome FF, jinak W3C Validator hlasi chybu */
	white-space: nowrap;
	z-index: 99;
}

.rtl #socialnet_im .snImButton {
	border-left: none;
	border-right: 1px solid #999;
}

#socialnet_im .snImButton:hover, #socialnet_im .snImButton.snImOpener {
	background-color: #fafafa;
	background-image: none;
}

#socialnet_im .snImNav {
	width: auto;
	font-weight: bold;
}

#socialnet_im .snImButton.snImOpener {
	border-top: 1px solid #fafafa;
}

#socialnet_im #snImOnline .snImButton {
	width: 167px;
	padding-left: 28px;
	background-repeat: no-repeat;
	background-position: 3px 50%;
}

.rtl #socialnet_im #snImOnline .snImButton {
	padding-left: 0px;
	padding-right: 28px;
	background-position: 98% 50%;
}

#socialnet_im #snImOnline .label {
	float: left;
	padding-right: 5px;
}

.rtl #socialnet_im #snImOnline .label {
	float: right;
	padding-right: 0;
	padding-left: 5px;
}

.snImButton .snImStatus, .snImTyping {
	background: transparent none no-repeat 50% 50%;
	padding: 4px;
	margin-left: 3px;
}

.rtl .snImButton .onlineStatus {
	margin-left: 0;
	margin-right: 3px;
}

.snImButton .snImStatus.snImOnline {
	background-image: url("{T_IMAGESET_PATH}/socialnet/im_online.png");
}

.snImButton .snImStatus.snImAway {
	background-image: url("{T_IMAGESET_PATH}/socialnet/im_away.png");
}

.snImButton .snImStatus.snImOffline {
	background-image: url("{T_IMAGESET_PATH}/socialnet/im_offline.png");
}

.snImButton .snImUnread {
	position: absolute;
	top: -7px;
	padding: 2px;
	background-color: #ff0000;
	color: #fff;
	display: block;
	line-height: 10px;
	z-index:290;
}

.ltr .snImButton .snImUnread {
	right: 20px;
}

.rtl .snImButton .snImUnread {
	left: 20px;
}

#socialnet_im .snImBlock {
	position: absolute;
	background: #fff;
	bottom: 24px;
	left: auto;
	right: -1px;
	width: 260px;
	border: 1px solid #999;
	z-index: 190;
}

.rtl #socialnet_im .snImBlock {
	left: -1px;
	right: auto;
}

#socialnet_im #snImOnline .snImBlock {
	width: 200px;
}

#socialnet_im .snImBlock .snImTitle {
	padding: 0px 5px;
	line-height: 24px;
	font-weight: bold;
	background: #0076B1 url("{T_THEME_PATH}/images/bg_list.gif") repeat-x 0 -10px;
	color: #efefef;
	border-bottom: 1px solid #999;
	cursor: pointer;
}

#socialnet_im .snImButtons {
	background-color: #efefef;
	padding-bottom: 1px;
}

.snImSound.ui-icon {
	float: left;
	margin: 3px 0 3px 10px;
	height: 11px;
	cursor: pointer;
	background: transparent url("{T_IMAGESET_PATH}/socialnet/sound.png") no-repeat 0 0;
}

.snImSound.ui-icon.ui-icon-volume-off {
	background-position: 0 100%;
}

.rtl .snImSound {
	float: right;
	margin: 3px 3px 3px 0;
}

.snImLoginLogout {
	float: right;
	margin: 1px 3px 1px 0;
}

.rtl .snImLoginLogout {
	float: left;
	margin: 1px 0 1px 3px;
}

.snImLogin, .snImLogout, .snImLogin span, .snImLogout span {
	background: transparent url("{T_IMAGESET_PATH}/socialnet/im_login.gif") repeat-x 0 0;
	display: block;
	float: left;
}

.snImLogin span, .snImLogout span {
	line-height: 15px;
	display: block;
	background-repeat: no-repeat;
	font-weight: bold;
	padding: 0px 4px;
	font-size: 8px;
}

.snImLogin span {
	background-position: left -30px;
}

.snImLogout span {
	background-position: right -60px;
}

.snImLogout.selected {
	background-position: 0 -15px;
}

.snImLogout.selected span {
	background-position: right -75px;
	color: #fff;
}

.snImLogin.selected {
	background-position: 0 -15px;
}

.snImLogin.selected span {
	background-position: left -45px;
	color: #fff;
}

.rtl label.snImLogin {
	padding-left: 0;
}

.snImLoginLogout label {
	cursor: pointer;
	padding: 0;
	margin: 0;
}

#socialnet_im #snImOnlineList {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 400px;
}

#socialnet_im .snImUserLine {
	clear: left;
	background: #fff none no-repeat 98% 50%;
	line-height: 23px;
	height: 26px;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* Vsechny prohlizece krome FF, jinak W3C Validator hlasi chybu */
	padding-right: 16px;
	padding-left: 3px;
	/*width: 183px;*/
	cursor: pointer;
}

.rtl #socialnet_im .snImUserLine {
	background-position: 2% 50%;
	padding-right: 0;
	padding-left: 16px;
	clear: right;
}

.snImUserLine span {
	float: left;
	padding: 2px 5px;
	overflow: hidden;
}

.rtl .snImUserLine span {
	float: right;
	padding: 2px 5px;
}

#socialnet_im .snImUserLine:hover {
	background-color: #ddd;
}

#socialnet_im.snImDockWrapper .snImBlock .snImTextarea {
	background: #fff url("{T_IMAGESET_PATH}/socialnet/im_message.png") no-repeat 2px 2px;
	padding-left: 20px;
	border-top: 1px solid #ccc;
	padding-top: 2px;
	/*bottom: 25px;
	position: fixed;*/
	width: 240px;
}

.rtl #socialnet_im .snImBlock .snImTextarea {
	background-position: 99% 2px;
	padding-left: 0;
	padding-right: 20px;
}

#socialnet_im .snImBlock .snImMsgs {
	height: 240px;
	padding: 5px 5px;
	/*position: relative;*/
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
	font-size: 11px;
	color: #333333;
}

.rtl #socialnet_im .snImBlock .snImMsgs strong {
	float: right;
}

.snImMsg {
	padding: 6px 0;
	border-top: 1px solid #EEEEEE;
	display: block;
/*	position: relative;*/
}

.snImMsg:first-child {
	border-top: none;
	padding-top: 0;
}

.snImMsg:last-child {
	padding-bottom: 0;
}

.snImMsgTime {
	color:#888;
	font-size: 9px;
	position: relative;
	float: right;
	right: 0px;
	top: -2px;
	display:none;
}

#socialnet_im .snImBlock .snImTextarea textarea.snImMessage {
	height: 16px;
	width: 234px;
	border: none;
}

#socialnet_im .snUsername a {
	color: #333;
	text-decoration: none;
}

.snImChatBox .snImButtons .ui-icon {
	height:18px;
	width:18px;
	float:right;
	cursor: pointer;
	background-position: 50% 50%;
}

.rtl .snImChatBox .snImButtons .ui-icon {
	float: left;
}

.snImCBAvatar {
	float:left;
	margin-top:0px;
	margin-left: -5px;
	margin-right: 4px;
	height:30px;
	display:inline-block;
}

.rtl .snImCBAvatar {
	float: right;
	margin-left: 4px;
	margin-right: -5px;
}

.ui-icon.snImCBSmiley {
	background-image:url('{T_IMAGESET_PATH}/socialnet/cb_bar_smiley.png');
}

.ui-icon.snImCBHistory {
	background-image:url('{T_IMAGESET_PATH}/socialnet/cb_bar_history.png');
}

.ui-icon.snImCBProfile {
	background-image:url('{T_IMAGESET_PATH}/socialnet/cb_bar_user.png');
}

.snImTyping {
	background-image:url('{T_IMAGESET_PATH}/socialnet/im_typing.png');
	padding: 12px 9px;
	position: absolute;
	display: none;
}

.snImHistory {
	background: transparent url("{T_IMAGESET_PATH}/socialnet/im_history_outgoing.png") no-repeat 0 0;
	padding-left: 16px;
}

.rtl .snImHistory {
	background-position: 100% 0;
	padding-left: 0px;
	padding-right: 16px;
}

.snImHistory.incoming {
	background-image: url("{T_IMAGESET_PATH}/socialnet/im_history_incoming.png");
}


/****
 * MOBILE
 */
#socialnet_im.snImDockWrapper-mobile {
	/*position: absolute;*/
	height: 24px;
	left: auto;
	right: 20px;
	z-index: 999;
	border-right: 1px solid #999;
	font-size: 1.2em;
}

.rtl #socialnet_im.snImDockWrapper-mobile {
	right: auto;
	left: 20px;
	border-right: none;
	border-left: 1px solid #999;
}

#socialnet_im.snImDockWrapper-mobile .snImBlock .snImTextarea {
	background: #fff url("{T_IMAGESET_PATH}/socialnet/im_message.png") no-repeat 2px 2px;
	padding-left: 20px;
	border-top: 1px solid #ccc;
	padding-top: 2px;
	width: 240px;
}

.rtl #socialnet_im.snImDockWrapper-mobile .snImBlock .snImTextarea {
	background-position: 99% 2px;
	padding-left: 0;
	padding-right: 20px;
}
