.snMpTextBlock .snActionBlock {
  margin-right: 20px;
}

#snNtfNotify {
	padding-left: 3px;
	display: inline-block;
}

.rtl #snNtfNotify {
	padding-left: 0px;
	padding-right: 3px;
}
div.jGrowl div.jGrowl-notification.blue, div.jGrowl div.jGrowl-closer.blue {
	background-color: #109EE5;
	color: #fff;
}      

div.jGrowl div.jGrowl-notification.green, div.jGrowl div.jGrowl-closer.green {
	background-color: #78AF85;
	color: #fff;
}

div.jGrowl div.jGrowl-notification.red, div.jGrowl div.jGrowl-closer.red {
	background-color: #DF8B8B;
	color: #fff;
}

div.jGrowl div.jGrowl-notification.orange, div.jGrowl div.jGrowl-closer.orange {
	background-color: #EF9859;
	color: #fff;
}

.ltr div.jGrowl div.jGrowl-notification .jGrowl-message span {
  margin-right: 10px;
}

.rtl div.jGrowl div.jGrowl-notification .jGrowl-message span {
  margin-left: 10px;

}
