<!-- BEGIN ap_entries -->
  <!-- IF ap_entries.TYPE eq 1 -->
    <div id="sn-ap-entry{ap_entries.ID}" class="sn-ap-textBlock {t:{ap_entries.TIME}}"<!-- IF B_SN_AP_MORE_LOAD --> style="display:none"<!-- ENDIF -->>
			{ap_entries.DATA}
    </div>
  <!-- ELSEIF ap_entries.TYPE eq 3 -->
    <div class="sn-ap-textBlock sn-page-innerContent sn-ap-textBlock-addUser {t:{ap_entries.TIME}}" id="sn-ap-entry{ap_entries.ID}"<!-- IF B_SN_AP_MORE_LOAD --> style="display:none"<!-- ENDIF -->>
    	<span class="sn-ap-entryIcon">&nbsp;</span>
    	<div class="sn-action-blockHidden">
    	  <div class="sn-actions">
					<!-- IF ap_entries.DELETE_ENTRY -->
						<div class="sn-ap-deleteEntry sn-action-delete {type:{ap_entries.TYPE}, target:{ap_entries.TARGET}, eid: {ap_entries.ID}}"></div>
				  <!-- ENDIF -->
				</div>
				<span class="snUsername">{ap_entries.U_USER1_PROFILE}</span> {L_SN_AP_AND} <span class="snUsername">{ap_entries.U_USER2_PROFILE}</span> {L_SN_AP_ARE_FRIENDS}
        <div class="sn-statusTime">{ap_entries.TIME_AGO}</div>
			</div>
		</div>
  <!-- ELSEIF ap_entries.TYPE eq 4 -->
    <div class="sn-ap-textBlock sn-page-innerContent sn-ap-textBlock-profileChanged {t:{ap_entries.TIME}}" id="sn-ap-entry{ap_entries.ID}"<!-- IF B_SN_AP_MORE_LOAD --> style="display:none"<!-- ENDIF -->>
    	<span class="sn-ap-entryIcon">&nbsp;</span>
    	<div class="sn-action-blockHidden">
    	  <div class="sn-actions">
					<!-- IF ap_entries.DELETE_ENTRY -->
						<div class="sn-ap-deleteEntry sn-action-delete {type:{ap_entries.TYPE}, target:{ap_entries.TARGET}, eid: {ap_entries.ID}}"></div>
				  <!-- ENDIF -->
				</div>
				<span class="snUsername">{ap_entries.U_PROFILE}</span> <!-- IF ap_entries.PROFILE_FIELDS -->{ap_entries.L_SN_AP_CHANGED_PROFILE}<br />{ap_entries.PROFILE_FIELDS}<!-- ELSE -->{ap_entries.L_SN_UP_CHANGED_AVATAR}<!-- ENDIF -->
        <div class="sn-statusTime">{ap_entries.TIME_AGO}</div>
			</div>
		</div>
  <!-- ELSEIF ap_entries.TYPE eq 5 -->
    <div class="sn-ap-textBlock sn-page-innerContent sn-ap-textBlock-newFamily {t:{ap_entries.TIME}}" id="sn-ap-entry{ap_entries.ID}"<!-- IF B_SN_AP_MORE_LOAD --> style="display:none"<!-- ENDIF -->>
    	<span class="sn-ap-entryIcon">&nbsp;</span>
    	<div class="sn-action-blockHidden">
    	  <div class="sn-actions">
					<!-- IF ap_entries.DELETE_ENTRY -->
						<div class="sn-ap-deleteEntry sn-action-delete {type:{ap_entries.TYPE}, target:{ap_entries.TARGET}, eid: {ap_entries.ID}}"></div>
				  <!-- ENDIF -->
				</div>
				<span class="snUsername">{ap_entries.U_PROFILE}</span> {ap_entries.L_SN_AP_ADDED_NEW_FAMILY_MEMBER}
        <div class="sn-statusTime">{ap_entries.TIME_AGO}</div>
			</div>
    </div>
  <!-- ELSEIF ap_entries.TYPE eq 6 -->
    <div class="sn-ap-textBlock sn-page-innerContent sn-ap-textBlock-newRelationship {t:{ap_entries.TIME}}" id="sn-ap-entry{ap_entries.ID}"<!-- IF B_SN_AP_MORE_LOAD --> style="display:none"<!-- ENDIF -->>
    	<span class="sn-ap-entryIcon">&nbsp;</span>
    	<div class="sn-action-blockHidden">
    	  <div class="sn-actions">
					<!-- IF ap_entries.DELETE_ENTRY -->
						<div class="sn-ap-deleteEntry sn-action-delete {type:{ap_entries.TYPE}, target:{ap_entries.TARGET}, eid: {ap_entries.ID}}"></div>
				  <!-- ENDIF -->
				</div>
				<span class="snUsername">{ap_entries.U_PROFILE}</span> {ap_entries.L_SN_AP_CHANGED_RELATIONSHIP}: {ap_entries.STATUS}<!-- IF ap_entries.U_PARTNER_PROFILE --> {ap_entries.U_PARTNER_PROFILE}<!-- ENDIF -->
        <div class="sn-statusTime">{ap_entries.TIME_AGO}</div>
			</div>
		</div>
  <!-- ELSEIF ap_entries.TYPE eq 7 -->
    <div class="sn-ap-textBlock sn-page-innerContent sn-ap-textBlock-sendEmote {t:{ap_entries.TIME}}" id="sn-ap-entry{ap_entries.ID}"<!-- IF B_SN_AP_MORE_LOAD --> style="display:none"<!-- ENDIF -->>
			<span class="sn-ap-entryIcon">&nbsp;</span>
			<div class="sn-action-blockHidden">
				<div class="sn-actions">
					<!-- IF ap_entries.DELETE_ENTRY -->
						<div class="sn-ap-deleteEntry sn-action-delete {type:{ap_entries.TYPE}, target:{ap_entries.TARGET}, eid: {ap_entries.ID}}"></div>
				  <!-- ENDIF -->
				</div>
				<span class="snUsername">{ap_entries.U_USER1_PROFILE}</span> {L_SN_UP_SEND_EMOTE} {ap_entries.U_USER2_PROFILE}: <strong>{ap_entries.EMOTE_NAME}</strong><!-- IF ap_entries.EMOTE_IMAGE != '' --> <img src="{SN_UP_EMOTE_FOLDER}{ap_entries.EMOTE_IMAGE}" alt="{ap_entries.EMOTE_NAME}" style="vertical-align: middle;" /><!-- ENDIF -->
        <div class="sn-statusTime">{ap_entries.TIME_AGO}</div>
			</div>
		</div>
  <!-- ENDIF -->
<!-- END ap_entries-->
<!-- IF not .ap_entries and not B_SN_ONLY_ONE -->
	<div class="sn-us-noStatus">
		<span class="sn-userName">{USERNAME}</span> {L_SN_US_HAS_NO_ACTIVITY}
	</div>
<!-- ENDIF -->