<!-- IF S_DISPLAY_SEARCH and B_SN_BLOCK_SEARCH_ENABLED and S_USER_LOGGED_IN -->
<form action="{U_SN_AP_SEARCH}" method="post"><div class="sn-ap-search"><input type="text" value="{SN_AP_SEARCH}" name="username" id="sn-ap-searchUsersAutocomplete" maxlength="256" title="{L_SN_AP_SEARCH}"
class="inputbox sn-ap-searchInput" onclick="if(this.value=='{L_SN_AP_SEARCH}')this.value='';"
onblur="if(this.value=='')this.value='{L_SN_AP_SEARCH}';" /><input type="image" src="{T_IMAGESET_PATH}/socialnet/ap_search.png" id="search-submit" class="sn-ap-searchImage"
/>{S_SEARCH_HIDDEN_FIELDS}<div id="sn-ap-searchAutocompleteContainer" class="sn-ap-searchAutocompleteContainer"></div></div></form>
<!-- ENDIF -->
