<!-- IF B_SN_BLOCK_BIRTHDAY_ENABLED and .friends_birthday -->
	<!-- DEFINE $BLOCK_HEADER = '{L_SN_MP_BIRTHDAY}' -->
	<!-- INCLUDE socialnet/block_page_header.html -->
	<div class="sn-page-blockText">
		<!-- BEGIN friends_birthday -->
		<div style="padding-bottom: 5px;">
      <span style="font-weight: bold;">{friends_birthday.USERNAME}</span> {friends_birthday.SN_MP_BIRTHDAY_ON} {friends_birthday.DATE}
		</div>
		<!-- END friends_birthday -->     	
		<div class="clear"></div>
	</div>		
<!-- ENDIF -->