<!-- BEGIN mp_notify -->
<div class="sn-mp-textBlock sn-action-blockHidden sn-ntf-block<!-- IF mp_notify.B_UNREAD --> sn-ntf-unread<!-- ENDIF -->">
    <div class="sn-actions">
    	<!-- IF mp_notify.B_UNREAD --><div class="sn-ntf-markRead sn-action-check {ntf_id:{mp_notify.NTF_ID}}" title="Mark as read"></div><!-- ENDIF -->
        <div class="sn-ntf-delete sn-action-delete-red {ntf_id:{mp_notify.NTF_ID}}" title="{L_DELETE}"></div>
    </div>
    <span class="sn-us-posterAvatar">
        <a href="{mp_notify.U_POSTER_PROFILE}">
        {mp_notify.POSTER_AVATAR}
        </a>
    </span>
    {mp_notify.DATA}
    <div class="clear">
    </div>
</div>
<!-- END mp_notify -->
<div class="sn-ntf-no-ntf"<!-- IF .mp_notify --> style="display:none"<!-- ENDIF -->>
    {L_SN_NO_NOTIFY}
</div>


