<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery.detectmobilebrowser.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery.metadata.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery.cookie.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery.timers.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery.hoverIntent.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery.text-overflow.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery.watermark.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery.elastic.source.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery.events.input.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery.form.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery.titlealert.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery.expander.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery.editable.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery.jgrowl.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/underscore.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/jquery.mentionsInput.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/m.socialnet.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/m.confirmbox.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/m.im.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/m.notify.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/m.approval.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/m.userstatus.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/m.activitypage.min.js"></script>
<script type="text/javascript" src="{T_SOCIALNET_JS_PATH}/m.profile.min.js"></script>
<script type="text/javascript">
// <![CDATA[

jQuery(document).ready(function($){
	socialNetwork.init({
		allow_load: '{B_AJAX_LOAD_ALLOW}',
		rtl: '{S_CONTENT_DIRECTION}' == 'rtl' ? true: false,
		expanderTextMore: '{L_SN_EXPANDER_READ_MORE}',
		expanderTextLess: '{L_SN_EXPANDER_READ_LESS}',
		browserOutdatedTitle : '{L_BROWSER_OUTDATED_TITLE}',
		browserOutdated : '{L_BROWSER_OUTDATED}',
		showBrowserOutdated: '{S_SN_SHOW_OUTDATED_BROWSER_INFO}' == '1' ? true : false,
		user_id: {S_SN_CURRENT_USER_ID},
		cookie : {
			name : '{COOKIE_NAME}',
			path : '{COOKIE_PATH}',
			domain : '{COOKIE_DOMAIN}',
			secure : '{COOKIE_SECURE}'=='1' ? true: false
		},
		confirmBox: {
			enable: '{S_SN_CB_ENABLE}' == '1' ? true : false,
			resizable : '{S_SN_CB_RESIZABLE}' == '1' ? true : false,
			draggable : '{S_SN_CB_DRAGGABLE}' == '1' ? true : false,
			modal : '{S_SN_CB_MODAL}' == '1' ? true : false,
			width : '{S_SN_CB_WIDTH}',
			button_confirm : '{L_SN_US_CONFIRM}',
			button_cancel : '{L_SN_US_CANCEL}',
			button_close : '{L_SN_US_CLOSE}',
			postMinChar : {I_POST_MIN_CHARS}
		},
		enableModules : {
			im : '{SN_MODULE_IM_ENABLED}' == '1' ? true: false,
			us : '{SN_MODULE_USERSTATUS_ENABLED}' == '1' ? true: false,
			ntf : '{SN_MODULE_NOTIFY_ENABLED}' == '1' ? true: false,
			fms : '{SN_MODULE_APPROVAL_ENABLED}' == '1' ? true: false,
			ap : '{SN_MODULE_ACTIVITYPAGE_ENABLED}' == '1' && '{S_ON_ACTIVITYPAGE}' == '1' ? true: false,
			up : '{SN_MODULE_PROFILE_ENABLED}' == '1' ? true: false
		},
		comments : {
			watermark : '{L_SN_US_WRITE_COMMENT}',
			empty : '{L_SN_US_EMPTY_COMMENT}',
			deleteTitle : '{L_SN_CB_DELETE_COMMENT_TITLE}',
			deleteText : '{L_SN_CB_DELETE_COMMENT_TEXT}'
		},
		menuPosition:{
			my : "<!-- IF S_CONTENT_DIRECTION eq 'ltr' -->right<!-- ELSE -->left<!-- ENDIF --> top",
			at : "<!-- IF S_CONTENT_DIRECTION eq 'ltr' -->left<!-- ELSE -->right<!-- ENDIF --> top"
		}
	});

<!-- IF SN_MODULE_ACTIVITYPAGE_ENABLED and S_ON_ACTIVITYPAGE -->
// ## ACTIVITY PAGE -=- START ##
	socialNetwork.ap.init({
		url : '{SOCIALNET_ROOT_PATH}activitypage.php',
		blockOnlineUsers : '{B_SN_BLOCK_ONLINE_USERS_ENABLED}' == '1' ? true: false,
		tikTakOnline : {I_SN_BLOCK_ONLINE_USERS_CHECK_TIME},
		urlUsersAutocomplete: '{U_USERS_AUTOCOMPLETE}'
	});
// ## ACTIVITY PAGE -=- END ##
<!-- ENDIF -->

<!-- IF SN_MODULE_IM_ENABLED -->
// ## INSTANT MESSENGER -=- START ##
	socialNetwork.im.init({
		url: '{SOCIALNET_ROOT_PATH}im.php',
		rootPath: '{SOCIALNET_ROOT_PATH}',
		newMessage: '{L_SN_IM_NEW_MESSAGE}',
		namesMe: '{S_SN_USERNAME}',
		youAreOffline: '{L_SN_IM_YOU_ARE_OFFLINE}',
		titleNew: '{L_SN_IM_NEW_MESSAGE}',
		sound: '{S_SN_IM_USER_SOUND}' == '1' ? true: false,
		isOnline: '{SN_IM_ONLINE}' == '1' ? true: false,
		timersMin: {SN_IM_MIN_CHECK},
		timersMax: {SN_IM_MAX_CHECK},
		lastCheckTime: {SN_IM_LAST_CHECKTIME},
		linkNewWindow: '{S_SN_IM_LINK_NEW_WINDOW}' == '1' ? true: false,
		playSoundOnPageLoad: {SN_IM_PLAY_SOUND_ON_PAGELOAD},
		sendSequence: {
			alt : {SN_IM_SENDSEQ_ALT},
			ctrl : {SN_IM_SENDSEQ_CTRL},
			shift : {SN_IM_SENDSEQ_SHIFT},
			key : {SN_IM_SENDSEQ_KEY}
		},
		closeSequence : {
			alt : {SN_IM_CLOSESEQ_ALT},
			ctrl : {SN_IM_CLOSESEQ_CTRL},
			shift : {SN_IM_CLOSESEQ_SHIFT},
			key : {SN_IM_CLOSESEQ_KEY}
		}
	});
// ## INSTANT MESSENGER -=- END ##
<!-- ENDIF -->

<!-- IF SN_MODULE_NOTIFY_ENABLED -->
// ## NOTIFICATIONS -=- START ##
	socialNetwork.ntf.init({
		url:'{SOCIALNET_ROOT_PATH}notify.php',
		theme: '{S_SN_NTF_THEME}',
		life: {SN_NTF_LIFE},
		checkTime: {SN_NTF_CHECKTIME}
	});
// ## NOTIFICATIONS -=- END ##
<!-- ENDIF -->

<!-- IF SN_MODULE_APPROVAL_ENABLED -->
// ## FRIEND MANAGEMENT SYSTEM -=- START ##
	socialNetwork.fms.init({
		url: '{SOCIALNET_ROOT_PATH}approval.php',
		urlFMS: '{SOCIALNET_ROOT_PATH}fms_users.php',
		noFriends: '{L_FAS_FRIENDGROUP_NO_TOTAL}',
		deleteUserGroup: '{L_FMS_DELETE_UFG}',
		deleteUserGroupText: '{L_FMS_DELETE_UFG_TEXT}'
	});
// ## FRIEND MANAGEMENT SYSTEM -=- END ##
<!-- ENDIF -->

<!-- IF SN_MODULE_USERSTATUS_ENABLED -->
// ## USER STATUS -=- START ##
	socialNetwork.us.init({
		watermark : '{L_SN_US_WHATS_ON_YOUR_MIND}',
		emptyStatus : '{L_SN_US_EMPTY_STATUS}',
		url : '{SOCIALNET_ROOT_PATH}userstatus.php',
		urlFetch : '{SOCIALNET_ROOT_PATH}fetch.php',
		deleteStatusTitle : '{L_SN_CB_DELETE_STATUS_TITLE}',
		deleteStatusText: '{L_SN_CB_DELETE_STATUS_TEXT}',
		deleteActivityTitle : '{L_SN_CB_DELETE_ACTIVITY_TITLE}',
		deleteActivityText: '{L_SN_CB_DELETE_ACTIVITY_TEXT}'
	});
// ## USER STATUS -=- END ##
<!-- ENDIF -->

<!-- IF SN_MODULE_PROFILE_ENABLED -->
// ## PROFILE -=- START ##
	socialNetwork.up.init({
		url : '{U_UP_TAB_WALL}',
		urlAJAX : '{U_UP_AJAXURL}',
		urlSelectFriends: '{U_SELECT_FRIENDS}',
		spinner : '{L_SN_UP_TABS_SPINNER}',
		nextText : '{L_NEXT}',
		prevText : '{L_PREVIOUS}',
		dateFormat : '{SN_DATE_FORMAT}',
		dayNames : [ '{L_SN_UP_SUNDAY}', '{L_SN_UP_MONDAY}', '{L_SN_UP_TUESDAY}', '{L_SN_UP_WEDNESDAY}', '{L_SN_UP_THURSDAY}', '{L_SN_UP_FRIDAY}', '{L_SN_UP_SATURDAY}' ],
		dayNamesShort : [ '{L_SN_UP_SUNDAY_MIN}', '{L_SN_UP_MONDAY_MIN}', '{L_SN_UP_TUESDAY_MIN}', '{L_SN_UP_WEDNESDAY_MIN}', '{L_SN_UP_THURSDAY_MIN}', '{L_SN_UP_FRIDAY_MIN}', '{L_SN_UP_SATURDAY_MIN}' ],
		monthNames : [{SN_UP_MONTH_NAMES}],
		monthNamesShort : [{SN_UP_MONTH_NAMES_SHORT}],
		menuPosition:{
			my : "<!-- IF S_CONTENT_DIRECTION eq 'ltr' -->right<!-- ELSE -->left<!-- ENDIF --> top",
			at : "<!-- IF S_CONTENT_DIRECTION eq 'ltr' -->right<!-- ELSE -->left<!-- ENDIF --> bottom"
		}
	});
// ## PROFILE -=- END ##
<!-- ENDIF -->
});
// ]]>
</script>