<!-- INCLUDE ucp_header.html -->
<h2>{L_TITLE}</h2>

<!-- IF ERROR -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<p class="error">{ERROR}</p>
    <span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
      
<form id="fms_ufggcreate" method="post" action="{U_ACTION}">
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
			<h3>{L_UFG_CREATE}</h3> 
			
			<fieldset class="fields2">
				<dl>
					<dt>{L_UFG_CREATE_EXPLAIN}</dt>
					<dd><input type="text" name="add" id="add" class="inputbox" value="{GROUPS}" /></dd>     
				</dl>
			</fieldset>  
			
      <fieldset class="submit-buttons">
        <input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
        <input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
        {S_HIDDEN_FIELDS}
        {S_FORM_TOKEN}
      </fieldset>     
      
    <span class="corners-bottom"><span></span></span></div>
	</div>
</form>
<div class="sn-fms-groupManage">
<!-- IF SN_FMS_BLOCK_FRIEND_IS_NOT_EMPTY and .ufg -->
<form id="ucp_ufg" method="post" action="{U_ACTION}">
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<h3>{L_SN_REMOVE_FRIENDS}</h3>
			<p class="explain">{L_UFG_DRAG_FRIENDS_INTO_UFG}</p>
			<div class="sn-fms-friendsBlock ufg">
			{SN_FMS_BLOCK_FRIEND_CONTENT}
			</div><div class="clear"></div>
			{SN_FMS_BLOCK_FRIEND_PAGINATION_STRING}<div class="clear"></div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
</form>
<!-- ENDIF -->

<!-- IF .ufg -->
<form id="fms_ufgmanage" method="post" action="{U_ACTION}">
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
			<h3>{L_UFG_MANAGE}</h3>
			<div id="sn-fms-groupAccordion" class="sn-fms-block sn-action-block"> 
				<!-- BEGIN ufg -->
				<h3 id="sn-fms-grp{ufg.GID}-header"><span class="sn-actions"><span class="sn-fms-groupDelete sn-action-delete {gid:{ufg.GID}}"></span></span><a href="#">{ufg.NAME} (<span class="counter">{ufg.COUNT}</span>)</a></h3>
				<div id="sn-fms-grp{ufg.GID}-detail" class="sn-fms-friendsBlock grps sn-fms-users {gid:{ufg.GID}}"></div>
				<!-- END ufg -->
			</div> 
		<span class="corners-bottom"><span></span></span></div>
	</div>
</form>
<!-- ENDIF -->
</div>

<!-- INCLUDE ucp_footer.html -->