<h1>IS USED THIS FILE</h1>
<span class="corners-top"><span></span></span>
<!-- IF not B_NO_PROFILE_HEADER --> <h3>{L_SN_REMOVE_FRIENDS}</h3>
<p>{L_SN_REMOVE_FRIENDS_EXPLAIN}<sup>1)</sup></p><!-- ENDIF -->
<fieldset>
	<dl>
		<dd class="sn-fms-block">
			<div class="sn-fms-friendsBlock friends">
				<!-- BEGIN fas_friend -->
				<span class="sn-fms-friend" title="{fas_friend.USERNAME_NO_COLOR}">
					<input type="checkbox" name="usernames[]" value="{fas_friend.USER_ID}" />
					{fas_friend.AVATAR}
					<span>{fas_friend.USERNAME}</span>
					<br />
					<span>
						<a href="{fas_friend.U_PROFILE}">{L_SN_VIEW_PROFILE}</a>
					</span>
				</span>
				<!-- END fas_friend -->
			</div>
		</dd>
	</dl>
	<!-- IF B_FMS_BUTTONS -->
	<span class="submit-buttons" >
		<span>
			<a href="{U_ACTION}" onclick="return false;" class="mark friends">{L_MARK_ALL}</a> &bull;
			<a href="{U_ACTION}" onclick="return false;" class="unmark friends">{L_UNMARK_ALL}</a>
		</span>
	</span>
	<!-- ENDIF -->
</fieldset>
<div class="pagination">{SN_FAS_FRIEND_TOTAL}, {SN_FAS_FRIEND_PAGE_NUMBER},<span> {SN_FAS_FRIEND_PAGINATION}</span></div>
<div class="clear"></div>
<!-- IF B_FMS_BUTTONS -->
<fieldset class="submit-buttons">
	<input type="submit" name="submit" value="{L_REMOVE}" class="button1 disabled" disabled="disabled" />
	{S_HIDDEN_FIELDS}
	{S_FORM_TOKEN}
</fieldset>
<!-- ENDIF -->
<span class="corners-bottom"><span></span></span>
