<!-- INCLUDE ucp_header.html -->

<h2>{L_TITLE}</h2>

<form id="ucp" method="post" action="{U_ACTION}">

  <div class="panel">
  	<div class="inner"><span class="corners-top"><span></span></span>
		<fieldset class="sn-up-ucpProfile">
		<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
      	<dl>
      		<dt><label for="hometown">{L_SN_UP_HOMETOWN}:</label></dt>
      		<dd><input type="text" name="hometown" id="hometown" value="{HOMETOWN}" maxlength="255" class="inputbox" /></dd>
      	</dl>
      	<dl>
      		<dt><label for="sex">{L_SN_UP_SEX}:</label></dt>
      		<dd>
            <select name="sex" id="sex" style="width: 30%;">
              <option value="0"<!-- IF SEX == '0' --> selected="selected"<!-- ENDIF -->></option>
							<option value="1"<!-- IF SEX == '1' --> selected="selected"<!-- ENDIF -->>{L_SN_UP_MALE}</option>
							<option value="2"<!-- IF SEX == '2' --> selected="selected"<!-- ENDIF -->>{L_SN_UP_FEMALE}</option>
						</select>
          </dd>
      	</dl>
      	<dl>
      		<dt><label for="interested_in">{L_SN_UP_INTERESTED_IN}:</label></dt>
      		<dd>
            <select name="interested_in" id="interested_in" style="width: 30%;">
              <option value="0"<!-- IF INTERESTED_IN == '0' --> selected="selected"<!-- ENDIF -->></option>
							<option value="1"<!-- IF INTERESTED_IN == '1' --> selected="selected"<!-- ENDIF -->>{L_SN_UP_MALES}</option>
							<option value="2"<!-- IF INTERESTED_IN == '2' --> selected="selected"<!-- ENDIF -->>{L_SN_UP_FEMALES}</option>
							<option value="3"<!-- IF INTERESTED_IN == '3' --> selected="selected"<!-- ENDIF -->>{L_SN_UP_BOTH}</option>
						</select>
          </dd>
      	</dl>
      	<dl>
      		<dt><label for="languages">{L_SN_UP_LANGUAGES}:</label></dt>
      		<dd><input type="text" name="languages" id="languages" value="{LANGUAGES}" class="inputbox" /></dd>
      	</dl>
      	<dl>
      		<dt><label for="employer">{L_SN_UP_EMPLOYER}:</label></dt>
      		<dd><input type="text" name="employer" id="employer" value="{EMPLOYER}" class="inputbox" /></dd>
      	</dl>
      	<dl>
      		<dt><label for="university">{L_SN_UP_UNIVERSITY}:</label></dt>
      		<dd><input type="text" name="university" id="university" value="{UNIVERSITY}" class="inputbox" /></dd>
      	</dl>
      	<dl>
      		<dt><label for="high_school">{L_SN_UP_HIGH_SCHOOL}:</label></dt>
      		<dd><input type="text" name="high_school" id="high_school" value="{HIGH_SCHOOL}" class="inputbox" /></dd>
      	</dl>
      	<dl>
      		<dt><label for="religion">{L_SN_UP_RELIGION}:</label></dt>
      		<dd><input type="text" name="religion" id="religion" value="{RELIGION}" class="inputbox" /></dd>
      	</dl>
      	<dl>
      		<dt><label for="political_views">{L_SN_UP_POLITICAL_VIEWS}:</label></dt>
      		<dd><input type="text" name="political_views" id="political_views" value="{POLITICAL_VIEWS}" class="inputbox" /></dd>
      	</dl>
      	<dl>
      		<dt><label for="skype">{L_SN_UP_SKYPE}:</label></dt>
      		<dd><input type="text" name="skype" id="skype" value="{SKYPE}" maxlength="32" class="inputbox" /></dd>
      	</dl>
      	<dl>
      		<dt><label for="facebook">{L_SN_UP_FACEBOOK}:</label></dt>
      		<dd><input type="text" name="facebook" id="facebook" value="{FACEBOOK}" maxlength="255" class="inputbox" /></dd>
      	</dl>
      	<dl>
      		<dt><label for="twitter">{L_SN_UP_TWITTER}:</label></dt>
      		<dd><input type="text" name="twitter" id="twitter" value="{TWITTER}" maxlength="255" class="inputbox" /></dd>
      	</dl>
      	<dl>
      		<dt><label for="youtube">{L_SN_UP_YOUTUBE}:</label></dt>
      		<dd><input type="text" name="youtube" id="youtube" value="{YOUTUBE}" maxlength="255" class="inputbox" /></dd>
      	</dl>
      	<dl>
      		<dt><label for="about_me">{L_SN_UP_ABOUT_ME}:</label></dt>
			<dd><textarea name="about_me" id="about_me" class="inputbox" rows="2" cols="" maxlength="1024">{ABOUT_ME}</textarea></dd>
      	</dl>
      	<dl>
      		<dt><label for="quotations">{L_SN_UP_QUOTATIONS}:</label></dt>
			<dd><textarea name="quotations" id="quotations" class="inputbox" rows="2" cols="" maxlength="1024">{QUOTATIONS}</textarea></dd>
      	</dl>
      	<dl>
      		<dt><label for="music">{L_SN_UP_MUSIC}:</label></dt>
			<dd><textarea name="music" id="music" class="inputbox" rows="2" cols="" maxlength="1024">{MUSIC}</textarea></dd>
      	</dl>
      	<dl>
      		<dt><label for="books">{L_SN_UP_BOOKS}:</label></dt>
			<dd><textarea name="books" id="books" class="inputbox" rows="2" cols="" maxlength="1024">{BOOKS}</textarea></dd>
      	</dl>
      	<dl>
      		<dt><label for="movies">{L_SN_UP_MOVIES}:</label></dt>
			<dd><textarea name="movies" id="movies" class="inputbox" rows="2" cols="" maxlength="1024">{MOVIES}</textarea></dd>
      	</dl>
      	<dl>
      		<dt><label for="games">{L_SN_UP_GAMES}:</label></dt>
			<dd><textarea name="games" id="games" class="inputbox" rows="2" cols="" maxlength="1024">{GAMES}</textarea></dd>
      	</dl>
      	<dl>
      		<dt><label for="foods">{L_SN_UP_FOODS}:</label></dt>
			<dd><textarea name="foods" id="foods" class="inputbox" rows="2" cols="" maxlength="1024">{FOODS}</textarea></dd>
      	</dl>
      	<dl>
      		<dt><label for="sports">{L_SN_UP_SPORTS}:</label></dt>
			<dd><textarea name="sports" id="sports" class="inputbox" rows="2" cols="" maxlength="1024">{SPORTS}</textarea></dd>
      	</dl>
      	<dl>
      		<dt><label for="sport_teams">{L_SN_UP_SPORT_TEAMS}:</label></dt>
			<dd><textarea name="sport_teams" id="sport_teams" class="inputbox" rows="2" cols="" maxlength="1024">{SPORT_TEAMS}</textarea></dd>
      	</dl>
      	<dl>
      		<dt><label for="activities">{L_SN_UP_ACTIVITIES}:</label></dt>
			<dd><textarea name="activities" id="activities" class="inputbox" rows="2" cols="" maxlength="1024">{ACTIVITIES}</textarea></dd>
      	</dl>
    	</fieldset>

  	<span class="corners-bottom"><span></span></span></div>
  </div>

  <fieldset class="submit-buttons">
	<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
  	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
  	{S_FORM_TOKEN}
  </fieldset>
</form>

<!-- INCLUDE ucp_footer.html -->