<!-- IN CLUDE overall_header.html -->

<h2 class="titlespace">{L_SN_UP_REPORT_PROFILE}</h2>

<form method="post" action="{S_REPORT_ACTION}" id="report">
  <div class="panel">
  	<div class="inner"><span class="corners-top"><span></span></span>
  
  	<div class="content">
  		<fieldset>
  		<dl class="fields2">
  			<dt><label for="reason_id">{L_REASON}:</label></dt>
  			<dd><select name="reason_id" id="reason_id" class="full"><!-- BEGIN reason --><option value="{reason.ID}"<!-- IF reason.S_SELECTED --> selected="selected"<!-- ENDIF -->>{reason.TEXT}</option><!-- END reason --></select></dd>
  		</dl>
  		<dl class="fields2">
  			<dt><label for="report_text">{L_SN_UP_MORE_INFO}:</label><br /><span>{L_SN_UP_CAN_LEAVE_BLANK}</span></dt>
  			<dd><textarea name="report_text" id="report_text" rows="10" cols="76" class="inputbox">{REPORT_TEXT}</textarea></dd>
  		</dl>
  		</fieldset>
  	</div>
  
  	<span class="corners-bottom"><span></span></span></div>
  </div>
  
  <div class="panel">
  	<div class="inner"><span class="corners-top"><span></span></span>
  
  	<div class="content">
  		<fieldset class="submit-buttons">
  			<input type="submit" name="submit" class="button1" value="{L_SUBMIT}" />&nbsp;
  			<input type="submit" name="cancel" class="button2" value="{L_CANCEL}" />
  			{S_FORM_TOKEN}
  		</fieldset>
  	</div>
  
  	<span class="corners-bottom"><span></span></span></div>
  </div>
</form>

<!-- IN CLUDE overall_footer.html -->