<!-- BEGIN us_status -->
<!-- IF not us_status.B_SN_US_NOT_ONLY_COMMENT -->
<div class="sn-us-statusBlock {sid:{us_status.STATUS_ID}}" id="sn-us-status{us_status.STATUS_ID}">
	<span class="sn-posterAvatar">
		<a href="{us_status.U_PROFILE}" title="{us_status.POSTER_USERNAME_NO_COLOR}">{us_status.POSTER_AVATAR}</a>
	</span>
	<div class="sn-us-statusBox">
		<div class="sn-us-statusText sn-action-blockHidden">
			<div class="sn-actions">
				<!-- IF us_status.DELETE_STATUS -->
					<div class="sn-us-deleteStatus sn-action-delete {sid:{us_status.STATUS_ID},wid:{us_status.WALL_ID}}"></div>
			  <!-- ENDIF -->
			</div>
			<span class="sn-userName">{us_status.U_POSTER_PROFILE}</span>
			<!-- IF us_status.ANOTHER_WALL --><span class="sn-us-postOnWall">&raquo;</span>&nbsp;<span class="sn-userName">{us_status.U_WALL_PROFILE}</span>&nbsp;<!-- ENDIF -->
			<!-- IF not us_status.B_ISPAGE -->
				<br /><span class="sn-expander-text">{us_status.TEXT}</span>
			<!-- ELSE -->
			  {L_SN_US_SHARED_A} <a href="{us_status.PAGE_URL}" title="{us_status.PAGE_TITLE_TITLE}"><!-- IF us_status.PAGE_VIDEO neq '' -->{us_status.PAGE_VIDEOI}<!-- ELSE -->{L_SN_US_LINK}<!-- ENDIF --></a>
				<div class="clear" style="margin-top: 4px;"></div>
				<div class="sn-us-page-Preview">
					<!-- IF us_status.PAGE_VIDEO neq '' -->
					<div class="sn-us-page-Video">{us_status.PAGE_VIDEO}</div>
					<div class="sn-us-videoOverlay">&nbsp;</div>
					<!-- ENDIF -->
					<!-- IF us_status.PAGE_IMAGE neq '' -->
					<div class="sn-us-page-Image"><img src="{us_status.PAGE_IMAGE}" width="130" height="{us_status.PAGE_IMAGE_HEIGHT}" alt="image"/></div>
					<!-- ENDIF -->
				</div>
				<div class="sn-us-page-Title"><a href="{us_status.PAGE_URL}" title="{us_status.PAGE_TITLE_TITLE}">{us_status.PAGE_TITLE}</a></div>
				<div class="sn-us-page-Provider">
					<!-- IF us_status.PAGE_VIDEO neq '' -->
            <a href="{us_status.PAGE_VIDEOP}">{us_status.PAGE_VIDEOP}</a>
					<!-- ELSE -->
						<a href="{us_status.PAGE_SERVER_URL}">{us_status.PAGE_SERVER_URL}</a>
					<!-- ENDIF -->
				</div>
				<div class="sn-us-page-Desc">{us_status.PAGE_DESC_TEXT}</div>
				<!-- IF us_status.PAGE_ADDITIONAL neq '' --><div class="sn-us-page-Additional">{us_status.PAGE_ADDITIONAL}</div><!-- ENDIF -->
				<div class="clear"></div>
			<!-- ENDIF -->
			<div class="sn-statusTime">{us_status.TIME}
				<!-- IF us_status.B_SN_US_CAN_COMMENT -->
					&bull; <a href="#" class="sn-us-commentStatus">{L_SN_US_COMMENT_STATUS}</a>
				<!-- ENDIF -->
			</div>
		</div>
		<div class="sn-commentsBlock">
			{us_status.COMMENTS}
<!-- BEGIN userstatus_old -->
		    <!-- IF us_status.SN_US_MORE_COMMENTS && B_LOAD_FIRST_USERSTATUS_COMMENTS -->
		    <div class="sn-more">
		      <a href="javascript:void(0);" class="sn-us-getMoreComments behind {user:'{SN_US_USER_ID}'}">{L_SN_US_VIEW} <span class="sn-us-commentsCount">{us_status.SN_US_MORE_COMMENTS}</span> {L_SN_US_LOAD_MORE_COMMENTS}</a>
		      <img src="{T_IMAGESET_PATH}/socialnet/sn_loader_small.gif" alt="" width="16" height="11" class="sn-us-commentsLoader" style="display:none;"/>
		    </div>
		    <!-- ENDIF -->
			<!-- ENDIF -->
			<!-- BEGIN us_comment -->
			<div id="sn-us-comment{us_comment.COMMENT_ID}" class="sn-us-commentBlock sn-action-blockHidden" style="display:<!-- IF us_status.B_SN_US_NOT_ONLY_COMMENT -->none<!-- ELSE -->block<!-- ENDIF -->">
				<span class="sn-us-posterAvatar"><a href="{us_comment.U_POSTER_PROFILE}">{us_comment.POSTER_AVATAR}</a></span>
				<div class="sn-us-commentBox">
					<div class="sn-actions">
						<!-- IF us_comment.DELETE_COMMENT -->
						<div class="sn-us-deleteComment sn-action-delete delete_comment" name="{us_comment.COMMENT_ID}">
						</div><!-- ENDIF -->
					</div>
					<div class="sn-us-commentText">
						<a href="{us_comment.U_POSTER_PROFILE}" title="{us_comment.POSTER_USERNAME_NO_COLOR}"><span class="sn-userName">{us_comment.POSTER_USERNAME}</span></a> {us_comment.TEXT}
					</div>
					<div class="sn-statusTime">{us_comment.TIME}</div>
				</div>
			</div>
			<!-- END us_comment -->
			<!-- IF not us_status.B_SN_US_NOT_ONLY_COMMENT -->
			<!-- IF us_status.SN_US_MORE_COMMENTS && not B_LOAD_FIRST_USERSTATUS_COMMENTS -->
			<div class="sn-more">
				<a href="javascript:void(0);" class="sn-us-getMoreComments before {user:'{SN_US_USER_ID}'}">{L_SN_US_VIEW} <span class="sn-us-commentsCount">{us_status.SN_US_MORE_COMMENTS}</span> {L_SN_US_LOAD_MORE_COMMENTS}</a>
				<img src="{T_IMAGESET_PATH}/socialnet/sn_loader_small.gif" alt="" width="16" height="11" class="sn-us-commentsLoader" style="display:none;"/>
			</div>
			<!-- ENDIF -->
<!-- END userstatus_old -->
			<!-- IF us_status.B_SN_US_CAN_COMMENT -->
			<div class="sn-shareComment sn-us-shareComment sn-us-shareComment{us_status.STATUS_ID}">
				<textarea id="sn-us-textarea{us_status.STATUS_ID}" class="sn-inputComment sn-us-inputComment {sid:{us_status.STATUS_ID}}" rows="" cols="" style="height:20px"></textarea>
				<div class="sn-us-buttonCommentOver">
					<input type="button" name="sn-us-buttonComment" class="ui-button ui-widget ui-state-default ui-corner-all {sid:{us_status.STATUS_ID}}" value="{L_SN_US_COMMENT_STATUS}" />
				</div>
				<div class="clear"></div>
			</div>
			<!-- ENDIF -->
		</div>
	</div>
</div>
<!-- ENDIF -->
<!-- END us_status -->