				<div class="sn-us-fetchBlock">
					<div class="loader"><img src="{T_IMAGESET_PATH}/socialnet/sn_loader_large.gif" width="32" height="32" alt="{L_LOADER}"/></div>
					<div class="sn-us-fetchPreview">
						<div class="sn-us-fpreviews">
							<div class="sn-us-fetchImages">
								<div class="sn-us-fetchImgs"></div>
								<div class="sn-us-fetchImgNav">
									<img src="{T_IMAGESET_PATH}/socialnet/button_fetch_prev.png" width="24" height="21" class="sn-us-fetchImgsPrev" alt="{L_PREVIOUS_IMAGE}" /><img src="{T_IMAGESET_PATH}/socialnet/button_fetch_next.png" width="24" height="21" class="sn-us-fetchImgsNext" alt="{L_NEXT_IMAGE}" />
								</div>
								<div class="sn-us-fetchThumb">
									<span class="cPic">1</span> {L_OF} <span class="mPic">1</span>
									<span class="small">{L_SN_US_CHOOSE_THUMB}</span>
								</div>
							</div>
							<div class="sn-us-fetchVideo">
							</div>
							<div class="sn-us-fetchVideoInfo"></div>
							<div class="sn-us-fetchVideoProvider"></div>
						</div>
						<div class="sn-us-fetchData">
							<div class="title"></div>
							<div class="url"><a href="#">#</a></div>
							<textarea class="inputbox sn-us-fetchDesc" rows="" cols=""></textarea>
							<div class="sn-us-thumbs">
								<label for="sn-us-noImg" class="sn-us-thumbsImg">
									<input type="checkbox" id="sn-us-noImg" /> {L_SN_US_NO_IMG_THUMB}
								</label>
								<label for="sn-us-noVideo" class="sn-us-thumbsVideo">
									<input type="checkbox" id="sn-us-noVideo" /> {L_SN_US_NO_VIDEO_THUMB}
								</label>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<input type="button" name="sn-us-fetchButton" class="sn-us-fetchButton ui-button ui-widget ui-state-default ui-corner-all" value="{L_SN_US_FETCH_PAGE}" />
				<input type="button" name="sn-us-fetchClear" class="sn-us-fetchButton ui-button ui-widget ui-state-default ui-corner-all" value="{L_SN_US_FETCH_CLEAR}" />
