/********************************************\
 |* USER PROFILE                              *|
 \********************************************/

#socialnet_profile {
	margin-top: 8px;
}

#socialnet_profile #left-column {
	width: 20%;
	float: left;
}

.rtl #socialnet_profile #left-column {
	float: right;
}

#socialnet_profile #middle_column {
	float: right;
	width: 78%;
	min-width: 200px;
	min-height: 550px;
	border-left: 1px solid #ccc;
	padding: 0 0 0 0.9%;
}

.rtl #socialnet_profile #middle_column {
	float: left;
	border-left: none;
	border-right: 1px solid #ccc;
	padding: 0 0.9% 0 0;
}

/*
 * Left column
 */
.snMpLeftColumn .snFasFriend {
	width: auto;
	display: block;
	margin: 0 0 4px 0;
}

#socialnet_profile .header dl dt {
  font-size: 11px;
}

.snMPInactiveUser {
	font-weight: bold;
	padding: 10px 10px 0 10px;
}

#socialnet_profile .snMenu {
	width: 100%;
	border: none;
	margin: 10px 0;
}

/*
 * Middle Column
 */
#snProfiletabs {
	border: 0;
	margin-bottom: 4px;
	font-size: 12px;
}


#socialnet_profile .details dt {
	padding: 0;
	line-height:19px;
}

#socialnet_profile .details dd {
	padding: 0px 2px 0px 4px;
	line-height: 19px;
}


.snUpEditable {
	display:inline-block;
	/*border: 1px solid transparent;*/
	/*position: relative;*/
	padding-top: 0;
	padding-bottom: 0;
}
.ltr #socialnet_profile .details .snUpEditable {
	padding-right:18px;
}
.rtl #socialnet_profile .details .snUpEditable {
	padding-left: 18px;
}

.snUpEditable .snUpEditableButton {
	width: 17px;
	height: 17px;
	display: inline-block;
	position: absolute;
	/*top: 0;*/
	background: transparent url("{T_IMAGESET_PATH}/socialnet/icon_profile_edit.png") no-repeat 50% -100px;
	cursor: pointer;
}

.ltr .snUpEditableButton {
	/*right: 0;*/
	margin-left: 5px;
}
.rtl .snUpEditableButton {
	/*left: 0;*/
	margin-right: 5px;
}

.snUpEditable:hover .snUpEditableButton {
	background-position: 50% 0%;
}
.snUpEditable:hover .snUpEditableButton:hover {
	background-position: 50% 100%;
}



#socialnet_profile #middle_column .ui-tabs {
	padding: 0;
}

#socialnet_profile #middle_column .ui-tabs .ui-tabs-panel {
	padding-left: 0;
	padding-right: 0;
}


.rtl .ui-tabs .ui-tabs-nav li {
	float: right;
	margin: 0 0 1px .2em;
}

.snUpUsername {
	margin: 0;
	padding: 0 0 5px 0;
	font-weight: bold;
	float: left;
	font-size: 24px;
	line-height: 29px;
}

.snUpUsername img {
	vertical-align: middle;
	padding: 0 0 5px 0;
}

.rtl .snUpUsername {
	float: right;
	padding: 5px 0 0;
}

/**
 * 	ADD Friend 2 Group
 */
.snUpAdd2Group {
  float: left;
  position:relative;
}

.snUpAdd2Group .hovering, .ui-state-hover, a.ui-button.ui-state-hover {
	border-color: #999;
	background: #DADADA url("{T_THEME_PATH}/images/ui-bg_glass_75_dadada_1x400.png") repeat-x 50% 50%;
	color: #bc2a4d;
}

.snUpAdd2GroupDetail {
	display: none;
	top:+21px;
	right:-2px;
	position: absolute;
	z-index: 999;
	padding: 2px;
	
}


.snUpAdd2GroupContent {
	color: #222;
	font-size: 1.1em;
	background: #E6E6E6 url("{T_THEME_PATH}/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x  50% 50%; 
	/*padding: 5px;*/
	overflow: auto;
	width: 200px;
	max-height: 200px;
	border-color: #aaa;
}

.snUpAdd2GroupContent .snFMSInGroup {
	border-top: 1px solid #AAA;
}

.snUpAdd2GroupContent .snFMSInGroup:hover {
	background: #DADADA url("{T_THEME_PATH}/images/ui-bg_glass_75_dadada_1x400.png") repeat-x 50% 50% ;
	color: #d31141;
}

.snUpAdd2GroupContent .snFMSInGroup:first-child {
	border-top: none;
}

.ui-icon.ui-icon-no {
	background-position: 100px 100px;
}

.snUpAdd2GroupContent.ui-widget-content .ui-icon {
	background-image: url("{T_THEME_PATH}/images/ui-icons_888888_256x240.png");
}

.snFMSInGroup {
	padding: 4px;
}

.snFMSInGroup:hover {
	cursor: pointer;
	background-color: #E2E2E2;
}

.snUpAdd2GroupContent.ui-widget-content .snFMSInGroup:hover .ui-icon {
	background-image: url("{T_THEME_PATH}/images/ui-icons_222222_256x240.png");
}

a.ui-button {
	color: #222;
}
